.profileimage{
	vertical-align: top;
	width: 100%;
	border-radius: 100%;
	background: #f0f0f0;
	height: 100%;
}

.logo-small {
    width: 35px;
    height: 35px;
}

.header-logo-wrap {
    vertical-align: text-bottom;
    display: inline-block;
    width: 95px;
    height: 95px;
    background-color: #fff;
    border: 3px solid #fff;
    z-index: 500;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

ul.social-links {
    overflow: auto;
    padding-left: 0;
    display: inline-block;
}

ul.social-links li a i {
    background: #800000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
    padding-top: 18%;
    padding-left: 0;
    text-align: center;
    transition: all .2s ease-in-out;
    opacity: .6;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-inverse {
    color: #fff;
}

ul li {
    display: inline;
    float: left;
}
